Source: pardus-lightdm-greeter-settings
Section: misc
Priority: optional
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), make
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-lightdm-greeter-settings

Package: pardus-lightdm-greeter-settings
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         pardus-lightdm-greeter,
         dbus-x11
Description: Pardus Greeter Settings
 Pardus greeter settings for lightdm login screen
