[Desktop Entry]
Name=Pardus Lightdm Settings
Name[tr]=Pardus Lightdm Ayarları
GenericName=Lightdm Settings
GenericName[tr]=Lightdm Ayarları
Comment=Configure Pardus lightdm greeter
Comment[tr]=Pardus lightdm arayüzünü ayarla
Exec=pardus-lightdm-greeter-settings
Icon=pardus-lightdm-greeter-settings
Terminal=false
Type=Application
Categories=Settings;X-Pardus-Apps;
StartupNotify=true
